<div class="container">

  <img
    (lazyLoad)="lazyLoad()"
    class="imagen"
    [alt]="carInfo?.car_name"
    [src]="carInfo.image_url ? carInfo.image_url + '?d=432x248' : 'assets/car-default.jpg'"
    />
    <!-- (error)="carInfo.image_url = " -->

  <div class="info">
    <div class="">
      <h3 class="car-info">
        ${{
          carInfo?.promotion_name
            ? (carInfo?.promotion_price | number)
            : (carInfo?.price | number)
        }}
      </h3>
      <div
        class=""
        *ngIf="carInfo?.promotion_name"
      >
        <h4 class="">
          ${{ carInfo?.price | number }}
        </h4>
        <div class=""></div>
      </div>
    </div>

      <h2 class="car-info">

          <!-- {{ data?.car_make }}
          {{ data?.car_model }}
          {{ data?.version }} -->
          {{ carInfo?.car_name }}


            {{ carInfo?.car_year }} | {{ carInfo?.traveled }}
            {{ carInfo?.transmission }} | {{ carInfo?.region_name }}

      </h2>

  </div>
</div>
