.container-result {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.search-options {
  width: 100%;
  height: 70px;
  display: flex;

  > :nth-child(2) {
    flex:1;
  }
}
