.make-container {
  width: 100%;
  overflow-y: scroll;
  height: 250px;
  padding-top: 20px;
  padding-left: 20px;
  border-bottom: 1px solid red;
}

.make-btn {
  display: flex;
  align-items: center;
  flex: 0 0 50%;
  max-width: 50%;
  min-width: 100px;
  height: 40px;
  margin-bottom: 5px;
}

.make-icon {
  height: 2.5rem;
  width: 2.5rem;
  margin: 0 5px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.full-height {
  height: 700px;
}

.show-more-less {
  position: absolute;
  left: 169px;
  top: 70px;
  text-decoration: underline;
  color: #583CC8;
}

.dropdown-make-car {
  display: none;
  flex-direction: column;
  margin-left: 30px;
  align-items: self-start;
  
}

.make-car-item {
  height: 30px;
  &:hover {
    color: #583CC8;
  }
}

.make-car-active {
  display: flex;
}
